version: "3.9"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: subscriptions
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8081:8080"
    volumes:
      - ./swagger.yaml:/swagger/swagger.yaml
    environment:
      SWAGGER_JSON: /swagger/swagger.yaml